/* Common Styles */
/* Flex*/
.flex{
  display: flex;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn{
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex-grow{
  flex-grow: 1;
}

/* Justify space between */
.justify-space-between{
  justify-content: space-between;
}

/* Justify center */
.justify-center{
  justify-content: center;
}

/* justify content end */
.justify-end{
  justify-content: flex-end;
}

/* justify space evenly */
.justify-space-evenly{
  justify-content: space-evenly;
}

/* justify space around */
.justify-space-around{
  justify-content: space-around;
}

/* Font */
.css-ahj2mt-MuiTypography-root.font-bold {
  font-weight: bold;
}

.font-black {
  color: black;
}

/* For black font */
.css-ahj2mt-MuiTypography-root.font-black {
  color: black !important;
}

/* padding */

.p-1 {
  padding: 1px;
}
.p-2 {
  padding: 0.125rem;
}
.p-4 {
  padding: 0.25rem;
}
.p-6 {
  padding: 0.375rem;
}
.p-8 {
  padding: 0.5rem;
}
.p-10 {
  padding: 0.625rem;
}
.p-12 {
  padding: 0.75rem;
}
.p-16 {
  padding: 1rem;
}
.p-20 {
  padding: 1.25rem;
}
.p-24 {
  padding: 1.5rem;
}
.p-28 {
  padding: 1.75rem;
}

.p-32 {
  padding: 2rem;
}

.p-36 {
  padding: 2.25rem;
}

.p-40 {
  padding: 2.5rem;
}

.pt-8{
  padding-top: 0.5rem;
}

.pt-16{
  padding-top: 1rem;
}

.pt-28{
  padding-top: 1.75rem;
}

.px-16{
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-16{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-40{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-40{
  padding-top: 2.5rem;
}

.pl-24{
  padding-left: 1.5rem;
}

.pl-28{
  padding-left: 1.75rem;
}

.pl-32{
  padding-left: 2rem;
}

.pl-128{
  padding-left: 8rem;
}

.pl{
  padding-left: 1.5rem;
}

.pl-8{
  padding-left: 0.5rem;
}

.pl-16{
  padding-left: 1rem;
}

.pr-8{
  padding-right: 0.5rem;
}

.pr-16{
  padding-right: 1rem;
}

.pr-32{
  padding-right: 2rem;
}

.pl-20{
  padding-left: 1.25rem;
}

.pb-16{
  padding-bottom: 1rem;
}

.p-16-0{
  padding: 15px 0px;
}

/* margin */
.m-1 {
  margin: 1px;
}
.m-2 {
  margin: 0.125rem;
}
.m-4 {
  margin: 0.25rem;
}
.m-6 {
  margin: 0.375rem;
}
.m-8 {
  margin: 0.5rem;
}
.m-10 {
  margin: 0.625rem;
}
.m-12 {
  margin: 0.75rem;
}
.m-16 {
  margin: 1rem;
}
.m-20 {
  margin: 1.25rem;
}
.m-24 {
  margin: 1.5rem;
}
.m-28 {
  margin: 1.75rem;
}

.m-32 {
  margin: 2rem;
}

.m-36 {
  margin: 2.25rem;
}

.m-40 {
  margin: 2.5rem;
}

.mx-0{
  margin-left: 0rem;
  margin-right: 0rem;
}

.mt-28{
  margin-top: 1.75rem;
}

.mt-32{
  margin-top: 2rem;
}

.my-40{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-4{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-8{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.mt-40{
  margin-top: 2.5rem;
}

.ml-28{
  margin-left: 1.75rem;
}

.ml{
  margin-left: 1.5rem;
}

.mr-4{
  margin-right: 0.2rem;
}

.mr-8{
  margin-right: 0.5rem;
}

.mr-16{
  margin-right: 1rem;
}

.mr-32 {
  margin-right: 2rem;
}

.mr-64 {
  margin-right: 4rem;
}

.ml-20{
  margin-left: 1.25rem;
}

.ml-32{
  margin-left: 2rem;
}

.mb-16{
  margin-bottom: 1rem;
}

.m-16-0{
  margin: 15px 0px;
}

.mx-32{
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-40{
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.my-32{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-20{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* scroll */

.overflow-scroll{
  overflow: scroll;
}

/* widths and heights*/

.min-width-120{
  min-width: 120;
}

.w-auto{
  width: auto;
}

.w10{
  width: 10%;
}
.w18{
  width: 18%;
}

.w30{
  width: 30%;
}

.w32{
  width: 32%;
}

.w35 {
  width: 35%;
}

.w38{
  width: 38%;
}

.w50{
  width: 50%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w85 {
  width: 85%;
}

.w87 {
  width: 87%;
}

.w90{
  width: 90%;
}

.w100{
  width: 100%;
}

.w25-h25{
  width: 25px !important;
  height: 25px !important;
}

.w70-h10{
  width: 70px;
  height: 10px;
}

.w170-h30{
  width: 170px;
  height: 30px;
}

.w150-h30{
  width: 150px;
  height: 30px;
}

.w200-h30{
  width: 200px;
  height: 30px;
}

.w130-h30{
  width: 130px;
  height: 30px;
}

.w200-h50{
  width: 200px;
  height: 50px;
}

.h-400{
  height: 400px;
}

.h-600{
  height: 600px;
}

.w-1000 {
  width: 1000px;
}

.w-1050 {
  width: 1050px;
}

/* Font sizes */
.fs-9{
  font-size: 9px !important;
}

.fs-10{
  font-size: 10px !important;
}

.fs-11{
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16{
  font-size: 16px !important;
}

.fs-20{
  font-size: 20px !important;
}

.fs-24{
  font-size: 24px !important;
}

.fs-28 {
  font-size: 28px !important; 
}

.fs-med{
  font-size: medium !important;
}

/* font weight */
.font-weight-normal{
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

/* headings */


/* text */

.text-dec-none {
  text-decoration: none;
}

.text-align-center{
  text-align: center;
}

/* left */
.left-16{
  left: 1rem;
}

/* left */
.left-32{
  left: 2rem;
}

/* right */
.right-16{
  right: 4rem;
}

/* align */
.align-items-center{
  align-items: center;
}

.text-right{
  text-align: right !important;
}

/* custom colors */

.gray{
  color: gray;
}



.col-005fa8{
  color: #005FA8 !important;
}

.col-42a5f5{
  color: #42a5f5;
}

.col-blue{
  color: blue;
}

.col-green{
  color: green;
}

.col-red{
  color: red;
}

.col-white{
  color: white !important;
}



.bg-e3f2fd {
  background-color: #e3f2fd;
}

.bg-grey{
  background-color: gray !important;
}

.bg-ffb74d {
  background-color: #ffb74d !important;
}

.bg-eeeeee{
  background-color: #eeeeee;
}

.bg-005fa8{
  background-color: #005fa8 !important;
}

.bg-42a5f5{
  background-color: #42a5f5;
}

.bg-f1f4fb {
  background-color: #f1f4fb;
}

.bg-white{
  background-color: white;
}

.bg-grey-white{
  background-image: linear-gradient(180deg, white, #f1f4fb);
}

/* on click */

.bg-white-onclick:focus{
  background-color: white;
}

.bg-white-onclick{
  background-color: white;
}

.green-3cb043{
  color: #3CB043;
}

.red-d0312d{
  color: #D0312D;
}

/* z-index */
.z-5{
  z-index: 5;
}

/* box shadows */

.box-shad{
  box-shadow: 5px 5px 5px gray;
}

.box-shad-125grey{
  box-shadow: 1px 2px 5px grey;
}

/* border radius */

.border-radius-5{
  border-radius: 5px;
}

.border-grey-1{
  border-color: #e3f2fd;
  border: 3;
  border-radius: 15px;
}

/* line heights */
.lh-28{
  line-height: 1.75rem;
}

/* positions */

.position-static{
  position: static !important;
}

.position-relative{
  position: relative !important;
}

/* Style for New ContractHeader */
.NewContractHeaderFontsize{
  font-size: 12px;
}

.NewContractHeaderFontcolor {
  color: '#005fa8';
}

.css-itvipi-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype1{
  background-color: #005FA8 !important;
}

.css-itvipi-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype2{
  background-color: gray !important;
}

/* place on hold button */
.css-itvipi-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype3{
  background-color: rgb(62, 159, 62) !important;
}


/* for buttons with icons*/
/* this button has different class than the above ones */
.css-1vqlznj-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype4{
  color: #005FA8 !important;
  font-size:10px !important;
}

/* for buttons with variant outline */
.css-1u5rjc5-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype5{

  border: 2px solid !important;
  border-color: #005FA8 !important;
  color: #005FA8 !important;
} 

.css-1vqlznj-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.buttontype6{
  font-size:10px !important;
}

/* for icons in the buttons */
.css-i4bv87-MuiSvgIcon-root.icontype1{
  font-size: 18px !important;
}

/*For allowing border for search bar in middle header to have full border*/
.css-14lo706 {
  position: absolute;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  top: -2px !important;
}

/* for products page */
.product-main-grid{
  padding: 16px 32px !important;
}


.product-grid{
  padding-top: 16px !important;
}

.product-text-color{
  color: #005fa8;
}

/* for products header */
.product-typography{
  justify-content: center; 
  padding-left: 20px;
}

.css-ahj2mt-MuiTypography-root.font-bold{
  font-weight: bold;
}

.css-yie9qf-MuiTypography-root {
  left: 2rem;
}

.product-page-grid{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f4fb;
}

/* common-modal-component*/
.modal-class{
  position: absolute;
  top: 190px;
  right: 500px;
  padding: 100px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, white, #f1f4fb);
  box-shadow: 30px;
  padding: 10px;
}

/*Icons hidden in menu until re-size to be less than 1265px*/
.icons-menu {
  display: none;
}
/*Hide right header to avoid header re-size*/

@media only screen and (max-width: 1268px ) {
  .hide_view {
    display: none;
  }
  .icons-menu {
    display: flex !important;
  }
}

/*Resize spacing in middle header*/
@media only screen and (max-width: 1100px ) {
  .css-yie9qf-MuiTypography-root {
    left: 1rem;
  }
} */

/*Hide search bar element when screen is less than 1000px*/
@media only screen and (max-width: 1000px ) {
  .css-1ud6dge-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    display: none !important;
  }
  .css-yie9qf-MuiTypography-root {
    left: 0rem;
  }
  .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    display: none !important;
  }
}

/*Toolbar min-height to be 64px regardless of screen size*/
@media (min-width: 0px ) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 64px !important;
  }
  .hamburger-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 800px ) {
  .header-options {
    display: none;
  }
}

@media only screen and (max-width: 650px ) {
  .user-name {
    display: none;
  }
}

/*Hamburger menu when */
@media only screen and (max-width: 500px ) {
  .hamburger-menu {
    display:flex !important;
    margin-left: -1rem;
  }
  .leftHeader {
    background-image: none !important;
    left: 0px !important;
  }
  .left-header-button-no-show {
    display: none !important;
  }
  .css-hyum1k-MuiToolbar-root {
    padding-right: 1rem;
  }
  .rh-margin {
    margin-left: -1.5rem;
  }
  .sidebar {
    display: none !important;
  }
}

@media only screen and (max-width: 455px ) {
  .hamburger-menu {
    margin-left: -1.4rem;
  }
}

@media only screen and (max-width: 430px ) {
  .hamburger-menu {
    margin-left: -1.6rem;
  }
}

@media only screen and (max-width: 400px ) {
  .hamburger-menu {
    margin-left: -1.8rem;
  }
  .rh-margin {
    margin-left: -1.8rem;
  }
}

@media only screen and (max-width: 350px ) {
  .hamburger-menu {
    margin-left: -2.0rem;
  }
  .rh-margin {
    margin-left: -2.0rem;
  }
}

@media only screen and (max-width: 320px ) {
  .hamburger-menu {
    margin-left: -2.2rem;
  }
  .rh-margin {
    margin-left: -2.2rem;
  }
}

@media only screen and (max-width: 280px ) {
  .hamburger-menu {
    margin-left: -2.4rem;
  }
  .rh-margin {
    margin-left: -2.4rem;
  }
}