
.gru {
   width: 325px !important;
   height: 490px !important;
   background-color: #fff !important;
   margin-top:-160px !important;
}

.groo {
   display: flex;
   justify-content: flex-end;
   position: relative;
   
}

.groot{
   padding-top: 40px;;
   margin-top: -224px;;
   margin-left: 40px;
   display:flex;
   flex-direction:row;
   font-size:12px;
   font-weight:Bold;
}