/* Header Right Section */
.header-right{
    align-items: center;
    flex-grow: 1;
    position: absolute;
    right: 20px;
  }
  
  .modal-header-right{
      position: absolute;
      top: 70px;
      right: 30px;
      border-radius: 5px;
      background-image: linear-gradient(180deg, white, #f1f4fb);
      box-shadow: 30px;
      padding: 20px;
  }
  
  .modal-header-subdivision{
    position: absolute;
    top: 35px;
    right: 140px;
    border-radius: 5px;
    background-image: linear-gradient(180deg, white, #f1f4fb);
    box-shadow: 30px;
    padding: 10px;
  }

  /* For left header */
  .leftHeader {
    width:23%;
    background-image:url('../../../../globalPages/common/header/images/logo-gp.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    left: 7px;
  }